.leftNav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 20vw;
    background-color: #333;
    overflow: auto;
    margin-top: 10vh;
    padding-top: 1vh;
  }
  
  .leftNavContent {
    display: flex;
    flex-direction: column;
  }
  
  .leftNavContentItem {
    margin: 20px;
    color: #fff;
  }
  
  .leftNavContentItem h1 {
    font-size: 18px;

  }