.cardDiv{
    height: fit-content;
    width: 18vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(20, 20, 20);
    border-radius: 20px;
    margin: 10px;
    transition: transform 0.5s ease-in-out;  
}
h1{
    font-size: 5px;
    margin: 0;
}
.pic{
    
    width: 80%;
    align-self: center;
    margin-top: 10%;
}
.productTitle{
    font-size: 20px;
    margin: 0;

    color: white;
}
.overlay{

    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}
